aws_region       = "us-east-1"
project_name     = "ec2-monitoring"
instance_type    = "t3.micro"
alarm_email      = "tvenky359@gmail.com"
cpu_threshold    = 20
memory_threshold = 20
disk_threshold   = 20
